*.hex
*.o
*.elf
*.DS_Store
*.d

README.md
desktop.ini
*.bak

/Release/
.cproject
.project
spec.d
.settings/language.settings.xml
.settings/org.eclipse.cdt.core.prefs
Debug/
grbl_mega.atsln
grbl_mega.componentinfo.xml
grbl_mega.cproj
